{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/admin-modern.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <i class="fas fa-blog"></i>
    <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
</h1>
{% endblock %}

{% block userlinks %}
{% if site_url %}
<a href="{{ site_url }}"><i class="fas fa-external-link-alt"></i> 查看网站</a> /
{% endif %}
{% if user.is_active and user.is_staff %}
<a href="{% url 'admin:password_change' %}"><i class="fas fa-key"></i> 修改密码</a> /
{% endif %}
<a href="{% url 'admin:logout' %}"><i class="fas fa-sign-out-alt"></i> 退出</a>
{% endblock %}
